<section class="cost">
    <div class="cost-container">
        <div class="cost__title wow bounceInLeft">
            <h2>The cost of training</h2>
        </div>
        <div class="cost__description wow bounceInRight">
            <p>There are several courses in Violin that differ in duration, program, and cost. However, regardless of the course, it is much more profitable at the price to engage with school teachers, rather than with Tutors. While studying in the Studio,
                students get the opportunity to additionally rehearse outside of school hours, make recordings in the Studio, perform at apartment parties and concerts, select a convenient schedule of classes and get a certificate at the end of training.</p>
        </div>
        <div class="cost__description-info wow bounceInLeft">
            <h3>Free trial session in the Studio! Also, the longer the course chosen by the student, the greater the discount they receive!</h3>
        </div>
        <div class="cost-programs">
            <div class="cost-desctop">
                <div class="cost-programs-program wow bounceInLeft">
                    <div class="cost__icon"><img src="img/iconTrial.png" alt="trialLesson">
                    </div>
                    <div class="program__title">
                        <h3>Trial individual lesson</h3>
                    </div>
                    <div class="program__cost">Free</div>
                    <div class="button button-cost">Sign up</div>
                </div>
                <div class="cost-programs-program wow bounceInUp">
                    <div class="cost__icon"><img src="img/iconSeveral.png" alt="several"></div>
                    <div class="program__title">
                        <h3>Subscription to individual classes</h3>
                    </div>
                    <div class="program__cost">from 200$</div>
                    <div class="button button-cost">Sign up</div>
                </div>
                <div class="cost-programs-program wow bounceInRight">
                    <div class="cost__icon"><img src="img/iconOne.png" alt="onelesson"></div>
                    <div class="program__title">
                        <h3>One-time individual lesson</h3>
                    </div>
                    <div class="program__cost">100$</div>
                    <div class="button button-cost">Sign up</div>
                </div>
            </div>
            <div class="mobile-slider">
                <div class="prev"><img src="img/prev.png" alt=""></div>
                <div class="cost-mobile_slider">
                    <div class="cost-mobile-slide">
                        <div class="cost__icon"><img src="img/iconTrial.png" alt="trialLesson">
                        </div>
                        <div class="program__title">
                            <h3>Trial individual lesson</h3>
                        </div>
                        <div class="program__cost">Free</div>
                        <div class="button button-cost">Sign up</div>
                    </div>
                    <div class="cost-mobile-slide">
                        <div class="cost__icon"><img src="img/iconSeveral.png" alt="several"></div>
                        <div class="program__title">
                            <h3>Subscription to individual classes</h3>
                        </div>
                        <div class="program__cost">from 200$</div>
                        <div class="button button-cost">Sign up</div>
                    </div>
                    <div class="cost-mobile-slide">
                        <div class="cost__icon"><img src="img/iconOne.png" alt="onelesson"></div>
                        <div class="program__title">
                            <h3>One-time individual lesson</h3>
                        </div>
                        <div class="program__cost">100$</div>
                        <div class="button button-cost">Sign up</div>
                    </div>

                </div>


                <div class="next"><img src="img/next.png" alt=""></div>

            </div>


        </div>
        <div class="prepayment wow bounceInLeft">
            <p>Make a prepayment at the first lesson and get a 20 discount%</p>
        </div>
    </div>
</section>