<section class="directions">
    <div class="directions-container">
        <div class="directions__title">
            <h2>All directions of study</h2>
        </div>
        <div class="directions__description">
            <p>In order for you to get results as quickly as possible, the school's founder, Donald Trump, a professional musician who has played at the Bolshoi theater of Russia since he was 16, has developed a special program for all existing directions.</p>
        </div>
        <div class="directions-items">
            <div class="directions-items-item" style="background-image: url('img/percussion.png');">
                <div class="directions-items-item__title">Percussion</div>
                <div class="directions-items-item__list">
                    <ul>
                        <li>Drumming for children</li>
                        <li>Drumming for beginners</li>
                        <li>The new drum</li>

                    </ul>
                </div>
            </div>
            <div class="directions-items-item" style="background-image: url('img/solfeggio.png');">
                <div class="directions-items-item__title">Solfeggio</div>
                <div class="directions-items-item__list">
                    <ul>
                        <li>Solfeggio lessons from scratch</li>
                        <li>Solfeggio courses</li>
                        <li>Tutor for solfege</li>

                    </ul>
                </div>
            </div>
            <div class="directions-items-item" style="background-image: url('img/strings.png');">
                <div class="directions-items-item__title">Strings</div>
                <div class="directions-items-item__list">
                    <ul>
                        <li>Acoustic guitar</li>
                        <li>Bass guitar</li>
                        <li>Electric guitar</li>
                        <li>Ukulele</li>
                    </ul>
                </div>
            </div>
            <div class="directions-items-item" style="background-image: url('img/vokal.png');">
                <div class="directions-items-item__title">Vokal</div>
                <div class="directions-items-item__list">
                    <ul>
                        <li>Voice training</li>
                        <li>Vocals for children</li>
                        <li>Academic vocal courses</li>
                        <li>Rock vocal courses</li>
                    </ul>
                </div>
            </div>
            <div class="directions-items-item" style="background-image: url('img/woodwind.png');">
                <div class="directions-items-item__title">Woodwind</div>
                <div class="directions-items-item__list">
                    <ul>
                        <li>Tube</li>
                        <li>Clarinet</li>
                        <li>Saxophone</li>
                        <li>Flute</li>
                    </ul>
                </div>
            </div>
            <div class="directions-items-item" style="background-image: url('img/keyboard.png');">
                <div class="directions-items-item__title">Keyboard</div>
                <div class="directions-items-item__list">
                    <ul>
                        <li>Piano</li>
                        <li>Synthesizer</li>
                    </ul>
                </div>
            </div>
            <div class="directions-items-item" style="background-image: url('img/folk.png');">
                <div class="directions-items-item__title">Folk</div>
                <div class="directions-items-item__list">
                    <ul>
                        <li>Mouth organ</li>
                        <li>Accordion</li>
                        <li>Balalaika</li>
                        <li>Domra</li>
                    </ul>
                </div>
            </div>
            <div class="directions-items-item" style="background-image: url('img/bow.png');">
                <div class="directions-items-item__title">Bow</div>
                <div class="directions-items-item__list">
                    <ul>
                        <li>Violin</li>
                        <li>Cello</li>
                        <li>Contrabass</li>
                    </ul>
                </div>
            </div>
            <div class="directions-items-item" style="background-image: url('img/arrangement.png');">
                <div class="directions-items-item__title">Arrangement</div>
                <div class="directions-items-item__list">
                    <ul>
                        <li>Learning to arrange</li>
                        <li>Arrangement lessons</li>
                        <li>Arrangement tutor</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>