<section class="directions">
    <div class="directions-container">
        <div class="directions__title">
            <h2>All directions of study</h2>
        </div>
        <div class="directions__description">
            <p>In order for you to get results as quickly as possible, the school's founder, Donald Trump, a professional musician who has played at the Bolshoi theater of Russia since he was 16, has developed a special program for all existing directions.</p>
        </div>
        <div class="directions-items"></div>
    </div>
</section>