<section class="firstlesson" id="firstlesson">
    <div class="firstlesson-container">
        <div class="firstlesson__title wow bounceInRight">
            <h2>First lesson program</h2>
        </div>
        <div class="firstlesson__description wow bounceInLeft">
            <p>To determine your musical abilities and start training, you need to sign up for the first lesson at the school of music and vocals, where you will have the opportunity to get acquainted with teachers, learn all about the unique accelerated
                program and much more.</p>
        </div>
        <div class="firstlesson__description-info wow bounceInRight">
            <h3>You don't need to pay for it — the first lesson is absolutely free!</h3>
        </div>
        <div class="firstlesson-steps">
            <div class="firstlesson-steps-left">
                <div class="firstlesson-steps-left-item left-step wow bounceInLeft">
                    <div class="firstlesson-steps-left-item__title">
                        <h3>The choice of the teacher</h3>
                    </div>
                    <div class="firstlesson-steps-left-item__text">
                        <p>Choice of the teacher at the request or on the recommendation of the administrator. The vocal teacher will continue to teach vocals and pave the way for success.</p>
                    </div>
                </div>
                <div class="firstlesson-steps-left-item left-step"></div>
                <div class="firstlesson-steps-left-item left-step wow bounceInLeft">
                    <div class="firstlesson-steps-left-item__title">
                        <h3>Basic exercise</h3>
                    </div>
                    <div class="firstlesson-steps-left-item__text">
                        <p>Performing the first basic exercises under the guidance of a teacher, in order to see the result of singing at the first lesson. In the basic exercises include warm-UPS and training of articulation.</p>
                    </div>
                </div>
                <div class="firstlesson-steps-left-item left-step"></div>
                <div class="firstlesson-steps-left-item left-step wow bounceInLeft">
                    <div class="firstlesson-steps-left-item__title">
                        <h3>Selection of the training program</h3>
                    </div>
                    <div class="firstlesson-steps-left-item__text">
                        <p>And finally, if you want further training, a special accelerated program is selected, suitable separately for everyone who wants to learn vocals from scratch.</p>
                    </div>
                </div>
                <div class="firstlesson-steps-left-item left-step"></div>
            </div>
            <div class="firstlesson-steps-right">
                <div class="firstlesson-steps-left-item right-step"></div>
                <div class="firstlesson-steps-left-item right-step wow bounceInRight">
                    <div class="firstlesson-steps-left-item__title">
                        <h3>The definition of a musical level</h3>
                    </div>
                    <div class="firstlesson-steps-left-item__text">
                        <p>This is necessary to determine the future program of adult vocal training. The teacher will ask you to sing a simple song or repeat the melody you heard. This determines the musical ear, voice capabilities and sense of rhythm,
                            as well as the artistry of a novice performer.</p>
                    </div>
                </div>
                <div class="firstlesson-steps-left-item right-step"></div>
                <div class="firstlesson-steps-left-item right-step wow bounceInLeft">
                    <div class="firstlesson-steps-left-item__title">
                        <h3>Voice processing</h3>
                    </div>
                    <div class="firstlesson-steps-left-item__text">
                        <p>Based on the results, an experienced teacher gives a number of tips and recommendations in the field of vocals to a future student of the SKIF school.</p>
                    </div>
                </div>
                <div class="firstlesson-steps-left-item right-step"></div>


            </div>
        </div>
        <div class="firstlesson-steps-mobile">

            <div class="firstlesson-steps-left-item left-step left-step-mobile">
                <div class="firstlesson-steps-left-item__title">
                    <h3>The choice of the teacher</h3>
                </div>
                <div class="firstlesson-steps-left-item__text">
                    <p>Choice of the teacher at the request or on the recommendation of the administrator. The vocal teacher will continue to teach vocals and pave the way for success.</p>
                </div>
            </div>

            <div class="firstlesson-steps-left-item left-step left-step-mobile">
                <div class="firstlesson-steps-left-item__title">
                    <h3>The definition of a musical level</h3>
                </div>
                <div class="firstlesson-steps-left-item__text">
                    <p>This is necessary to determine the future program of adult vocal training. The teacher will ask you to sing a simple song or repeat the melody you heard. This determines the musical ear, voice capabilities and sense of rhythm, as well
                        as the artistry of a novice performer.</p>
                </div>
            </div>

            <div class="firstlesson-steps-left-item left-step left-step-mobile">
                <div class="firstlesson-steps-left-item__title">
                    <h3>Basic exercise</h3>
                </div>
                <div class="firstlesson-steps-left-item__text">
                    <p>Performing the first basic exercises under the guidance of a teacher, in order to see the result of singing at the first lesson. In the basic exercises include warm-UPS and training of articulation.</p>
                </div>
            </div>

            <div class="firstlesson-steps-left-item left-step left-step-mobile">
                <div class="firstlesson-steps-left-item__title">
                    <h3>Voice processing</h3>
                </div>
                <div class="firstlesson-steps-left-item__text">
                    <p>Based on the results, an experienced teacher gives a number of tips and recommendations in the field of vocals to a future student of the SKIF school.</p>
                </div>
            </div>

            <div class="firstlesson-steps-left-item left-step left-step-mobile">
                <div class="firstlesson-steps-left-item__title">
                    <h3>Selection of the training program</h3>
                </div>
                <div class="firstlesson-steps-left-item__text">
                    <p>And finally, if you want further training, a special accelerated program is selected, suitable separately for everyone who wants to learn vocals from scratch.</p>
                </div>
            </div>
        </div>






        <a href="#popup">
            <div class="button button-first-lesson">Sign up for a class</div>
        </a>
    </div>
</section>