<footer>
    <div class="header-top">
        <div class="logo">
            <div class="logo__img"><img src="img/logo.png" alt="logo"></div>
            <div class="logo-text">
                <div class="logo-text__title">Violin</div>
                <div class="logo-text__text">School of music and vocals</div>
            </div>
        </div>

        <div class="contacts">
            <div class="contacts__point"><img src="img/iconLocation.png" alt="location"></div>
            <div class="contacts__text">New York Wall street 20
            </div>
        </div>
        <div class="contact-phone">
            <div class="contact-phone__img"><img src="img/iconPhone.png" alt=""></div>
            <div class="contact-phone__text">1 (234) 567-89-10</div>
        </div>
    </div>
</footer>