<header>
    <div class="header-top">
        <div class="logo">
            <div class="logo__img"><img src="img/logo.png" alt="logo"></div>
            <div class="logo-text">
                <div class="logo-text__title">Violin</div>
                <div class="logo-text__text">School of music and vocals</div>
            </div>
        </div>
        <nav class="header-menu">
            <ul class="menu-list">
                <li><a href="#">All disciplines</a>
                </li>
                <li><a href="#">First day programm</a></li>
                <li><a href="#">Cost</a></li>

                <li><a href="#">Contacts</a></li>
            </ul>
        </nav>
        <div class="contacts">
            <div class="contacts__point"><img src="img/iconLocation.png" alt="location"></div>
            <div class="contacts__text">New York Wall street 20
            </div>
        </div>
        <div class="contact-phone">
            <div class="contact-phone__img"><img src="img/iconPhone.png" alt=""></div>
            <div class="contact-phone__text">1 (234) 567-89-10</div>
        </div>
    </div>
    <div class="container-header-text">
        <div class="container-header-text__title">
            <h1>Express school Violin. Your first results after 4 sessions.</h1>
        </div>
        <div class="container-header-text__description">Master the technique with our techniques and start singing like our professionals!</div>
        <div class="button"><a href="#">Sign up for a free clas</a></div>
    </div>
</header>