<section class="lessons">
    <div class="lessons-container">
        <div class="lessons__title">
            <h2>Vocal lessons for beginners in New York on an accelerated program</h2>
        </div>
        <div class="lessons-info">
            <div class="lessons-info__image"><img src="img/Union.png" alt=""></div>
            <div class="lessons-info-text">
                <div class="lessons-info-text__paragpaph">
                    <p>Many people dream of a beautiful voice, a big stage, admiration from the audience, flowers, gifts... However, it is believed that you can only learn to sing from childhood, having a natural talent. This is a myth! It is possible to
                        realize the dream of a beautiful voice that many people will love at any age!</p>
                </div>
                <div class="lessons-info-text__paragpaph">
                    <p>To date, there are many accelerated adult vocal training programs that are aimed at maximum results! The most important thing is to choose a school where vocal training will take place from scratch and build the road to success.</p>
                </div>
            </div>
        </div>
    </div>
</section>