.firstlesson {
    margin-top: -35%;
}

.firstlesson-container {
    max-width: 1500px;
    margin-left: 10%;
}

.firstlesson__title {}

.firstlesson__description {
    max-width: 900px;
    margin-top: 20px;
}

.firstlesson__description-info {
    max-width: 645px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.firstlesson__description-info h3 {
    font-size: 18px;
}

.firstlesson-steps {
    display: flex;
    justify-content: space-between;
}

.firstlesson-steps-left {
    counter-reset: counter-left -1;
}

.firstlesson-steps-left-item {
    min-height: 140px;
}

.firstlesson-steps-left-item__title {}

.firstlesson-steps-left-item__text {}

.firstlesson-steps-right {
    counter-reset: counter-right;
}

.left-step {
    border-right: 2px dashed #3860E5;
    padding-right: 10px;
}

.left-step .firstlesson-steps-left-item__title {
    counter-increment: counter-left 2;
}

.left-step .firstlesson-steps-left-item__title h3::after {
    content: counter(counter-left);
    border: 1px solid #3860e5;
    background-color: #fff;
    float: right;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 2px;
    border-radius: 50%;
    text-align: center;
}

.right-step {
    padding-left: 36px;
}

.right-step p {
    margin-left: 45px;
}

.right-step .firstlesson-steps-left-item__title {
    counter-increment: counter-right 2;
}

.right-step .firstlesson-steps-left-item__title h3::before {
    content: counter(counter-right);
    border: 1px solid #3860e5;
    background-color: #fff;
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 2px;
    border-radius: 50%;
    text-align: center;
}

.button-first-lesson {
    padding-left: 90px;
    margin: 20px auto
}