@media (max-width: 1600px) {
    .lessons {
        margin-top: -20%;
    }
}

@media (max-width: 1440px) {
    .lessons {
        margin-top: -25%;
    }
    .firstlesson {
        margin-top: -45%;
    }
}

@media (max-width: 1366px) {
    .lessons {
        margin-top: -30%;
    }
}

@media (max-width: 1333px) {
    .firstlesson {
        margin-top: -5%;
    }
    .directions-items {
        justify-content: center;
    }
}

@media (max-width: 1290px) {
    .header-image {
        max-width: 665px;
    }
}

@media (max-width: 1280px) {
    .lessons {
        margin-top: -40%;
    }
    .lessons-info-text__paragpaph {
        margin-left: 6px;
    }
}

@media (max-width: 1200px) {
    .lessons {
        margin-top: -50%;
    }
    .menu-list {
        font-size: 15px;
    }
}

@media (max-width: 1130px) {
    .cost-desctop {
        display: none;
    }
    .mobile-slider {
        display: flex;
    }
}

@media (max-width: 1024px) {
    .header-menu {
        display: none;
    }
    .mobile-menu {
        display: flex;
    }
}

@media (max-width: 920px) {
    .header-bottom {
        flex-direction: column;
        flex-flow: wrap-reverse;
    }
    header {
        min-height: 100vh;
    }
    .lessons {
        margin-top: 20px;
    }
    .lessons-container {
        margin-top: 10px;
        margin-left: 8px;
        margin-right: 5px;
    }
    .directions-container,
    .container-header-text {
        margin-left: 8px;
        margin-right: 5px;
    }
    .firstlesson-container {
        margin-left: 8px;
        margin-right: 5px;
        margin-top: 45px;
    }
    .button {
        margin: auto;
    }
    .directions__description {
        margin-left: 0;
    }
}

@media (max-width: 813px) {
    .directions-mobile {
        display: flex;
    }
    .directions-items {
        display: none;
    }
    .directions {
        min-height: 40vh;
    }
    .firstlesson-container {
        margin-top: 75px;
    }
}

@media (max-width: 750px) {
    .firstlesson-steps {
        display: none;
    }
    .firstlesson-steps-mobile {
        display: block;
    }
}

@media (max-width: 650px) {
    .lessons-info {
        flex-direction: column;
    }
    .lessons-info__image img {
        width: 75%;
    }
    .lessons-info__image {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .contacts {
        display: none;
    }
}

@media (max-width: 450px) {
    .directions-mobile .direction-items__slider {
        max-width: 257px;
    }
    .directions-mobile .directions-items-item__title {
        font-size: 14px;
        line-height: 36px;
    }
    .directions-mobile .directions-items-item__list {
        font-size: 13px;
        line-height: 15px;
    }
    .cost-mobile_slider {
        max-width: 275px;
    }
    .cost-mobile-slide .slick-slide .slick-current .slick-active {
        max-width: 275px;
    }
}

@media (max-width: 440px) {
    .contact-phone {
        display: none;
    }
    footer .contact-phone {
        display: flex;
        font-size: 12px;
    }
}